<h1>
  Welcome <%= @hacker.name %> - <%= link_to @hacker.career.name, panorama_career_path(@hacker.career) %>
</h1>
<h2><%= @hacker.seniority.to_s %> --> <%= @hacker.seniority.next.to_s %></h2>

<table class="dashboard">
  <thead>
    <tr>
      <th>Skill</th>
      <% Experience::LEVELS.each do |experience| %>
        <th><%= experience.capitalize %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @dashboard.rows.each do |row| %>
      <tr>
        <td><%= row.first %></td>
        <% (0...Experience::LEVELS.size).each do |level| %>
          <% value = row.last[level] %>
          <td class="<%= value %>">
            <%= symbolize(value) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
